<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title data-title="Danh s&#225;ch kh&#243;a học">Danh s&#225;ch kh&#243;a học | MYCLASS</title>

  <link href="/css/styles-v=x4RW60atpIurWojGx_tZLVnh4oDpgbF2hGWxJiMjAGM1.css" rel="stylesheet" />
  <link href="/css/common-v=mjfzwyxul6gbnDVQmoNbszXxFbDZ9PtP-RQfZsN9oLA1.css" rel="stylesheet" />
  <link href="/css/cmt-v=iFnEdsc0aWB7ErYBJCquEdtuLN598jdqlemVQiSAWT81.css" rel="stylesheet" />
</head>

<body>
  <div id="page-container" class="sidebar-o side-scroll page-header-glass page-header-inverse page-header-fixed main-content-narrow sidebar-inverse">
    <%- include('../layout/sidebar'); %>
    <%- include('../layout/menu'); %>
    <%- include('../layout/header'); %>

    <!-- Main Container -->
    <main id="main-container">




      <!-- Hero -->
      <div class="bg-image" style="background-image: url('/Content/images/banner/map.jpg');">
        <div class="bg-primary-dark-op">
          <div class="content text-center">
            <div class="py-50 mt-20">
              <h1 class="h2 text-white font-w700 mb-10">Tài trợ</h1>
              <h2 class="h5 text-white-op mb-0 font-w400">Hỗ trợ để Kteam có thể xây dựng nhiều khóa học hơn.</h2>
            </div>
          </div>
        </div>
      </div>
      <!-- END Hero -->

      <div class="bg-gray-light">
        <div class="content py-0 text-center">
          <ul class="nav nav-tabs nav-tabs-block bg-gray-light justify-content-center">
            <li class="nav-item">
              <a class="nav-link" id="a-nav-about" href="/about">Về MYCLASS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" id="a-nav-supporters" href="/supporters">Người ủng hộ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="a-nav-contact" href="/contact">Liên hệ - Góp ý</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="a-nav-donate" href="/donate">Tài trợ</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="bg-white">
        <div class="content">
          <div class="px-20 py-50">

            <p class="font-size-h5 mb-30">
              MYCLASS muốn cảm ơn những người đã ủng hộ Kteam và những người đã đồng hành cùng MYCLASS xây dựng một cộng đồng giáo dục miễn phí. <br>
              Đặc biệt, MYCLASS xin gửi lời cảm ơn đến các cá nhân, tổ chức sau đây:
            </p>

            <div id="donate-log-wrapper" data-action="/about/listsupporters" class="mb-20">

              <div class="media border-b mb-15 pb-15 text-black">
                <div class="media-left mr-10 mt-5">
                  <img class="media-object avatar-sm" src="/Content/images/avatar/avatar.png">
                </div>
                <div class="media-body">
                  <a class="font-w600" href="/users/4714db8b-4dbd-4a1b-ad31-10cc7a7fa793">Huyvu95</a>
                  <span>đã ủng hộ</span>
                  <span class="font-w600">200.000<sup>đ</sup></span>
                  <span class="text-muted format-time" title="2021-09-19 17:23:46">5 ngày trước</span>
                  <p class="m-0">cảm ơn HowKteam đã chia sẻ những bài học bổ ích tới cộng đồng. chúc đội ngũ team luôn mạnh khỏe
                    mong HowKteam ngày càng phát triển.</p>
                </div>
              </div>
              <div class="media border-b mb-15 pb-15 text-black">
                <div class="media-left mr-10 mt-5">
                  <img class="media-object avatar-sm" src="/Content/images/avatar/avatar.png">
                </div>
                <div class="media-body">
                  <span class="font-w600">Ẩn danh</span>
                  <span>đã ủng hộ</span>
                  <span class="font-w600">50.000<sup>đ</sup></span>
                  <span class="text-muted format-time" title="2021-09-13 16:55:47">11 ngày trước</span>
                  <p class="m-0">Mong Kteam ngày càng phát triển và ra thêm nhiều bài giảng mới !!!!!!!!</p>
                </div>
              </div>
              <div class="media border-b mb-15 pb-15 text-black">
                <div class="media-left mr-10 mt-5">
                  <img class="media-object avatar-sm" src="/Content/images/avatar/avatar.png">
                </div>
                <div class="media-body">
                  <span class="font-w600">Ẩn danh</span>
                  <span>đã ủng hộ</span>
                  <span class="font-w600">500.000<sup>đ</sup></span>
                  <span class="text-muted format-time" title="2021-08-21 15:46:42">khoảng 1 tháng trước</span>
                  <p class="m-0"></p>
                </div>
              </div>
              <div class="media border-b mb-15 pb-15 text-black">
                <div class="media-left mr-10 mt-5">
                  <img class="media-object avatar-sm" src="/Content/images/avatar/avatar.png">
                </div>
                <div class="media-body">
                  <a class="font-w600" href="/users/2b660544-4aa6-4c5f-8b5b-7eabe9ade64b">thebao0402@gmail.com</a>
                  <span>đã ủng hộ</span>
                  <span class="font-w600">100.000<sup>đ</sup></span>
                  <span class="text-muted format-time" title="2021-08-20 10:56:42">khoảng 1 tháng trước</span>
                  <p class="m-0">Cám ơn những chia sẻ hữu ích và nhiệt tình của HowKteam. Mình không chuyên về IT, nhưng xem các video của các bạn rất tường minh :)) Tuyệt vời! Mong sẽ có thêm các Tutorial hay về C#</p>
                </div>
              </div>
              <div class="media border-b mb-15 pb-15 text-black">
                <div class="media-left mr-10 mt-5">
                  <img class="media-object avatar-sm" src="/Content/images/avatar/avatar.png">
                </div>
                <div class="media-body">
                  <a class="font-w600" href="/users/76f7e355-77ae-43f6-a051-c222e20f587a">qp.quocpham</a>
                  <span>đã ủng hộ</span>
                  <span class="font-w600">50.000<sup>đ</sup></span>
                  <span class="text-muted format-time" title="2021-08-18 11:20:11">khoảng 1 tháng trước</span>
                  <p class="m-0">chúc Kteam ngày càng phát triển và thêm nhiều bài giảng hơn minh mong khoá PHP</p>
                </div>
              </div>
              

            </div>
          </div>
        </div>
      </div>



      <div class="bg-gd-sea text-white">
        <div class="content">
          <div class="text-center px-20 py-50">
            <h5 class="h1 text-white">Tài trợ</h5>
            <p class="font-size-h5 mb-20">
              Hỗ trợ chúng tôi để cùng xây dựng một nền <strong>GIÁO DỤC MIỄN PHÍ</strong> cho bất cứ ai, ở bất cứ nơi nào. <br>
              Hoặc tham gia vào đội ngủ giảng viên, công tác viên, tình nguyện viên của chúng tôi.
            </p>
            <a href="/donate" class="btn btn-secondary btn-noborder btn-hero btn-rounded min-width-200">Tài trợ</a>
          </div>
        </div>
      </div>


    </main>
    <!-- END Main Container -->

    <!-- END Page Container -->
    <%- include('../layout/footer'); %>

    <script src="/js/layout/common-libs-v=KeX6O5qBHXp8hnCvOctyAewLoNbgYGAqeVBfuCOOl_41.js"></script>
    <script src="/js/layout/hubs.js"></script>
    <script src="/js/layout/theme-libs-v=flWwMHqqG4vF5_S78OkkZmbgib5d81EN11q97eVmyjk1.js"></script>
    <script src="/js/layout/js-v=RBijanojz1bp28r6ZUS4cWfovfa1gOATZhiHYkkjzVo1.js"></script>
    <script src="/js/layout/common-v=5WmZiv4HuIV-gt1ets7IC2aEarKWhzqG_TwZPwLi1TQ1.js"></script>
    <script src="/js/layout/cmt-v=65dISZQsn5VeLZedj3SFRm92FDw6tiXebwIpHpvT1nY1.js"></script>
  </div>
  <script>
    $("a.side-nav-learn").addClass("active");
  </script>
  <script src="/js/layout/quicklearn-v=wVvEGEzTmNdfHEOrup4fxiC6Y4Y_Wtxli68buwFIvYI1.js"></script>
  <script src="/js/common/common.js"></script>
</body>

</html>