 <!-- Footer -->


 <footer id="page-footer" class="mt-30">
    <div class="content">
      <div class="page-content">
        <div class="mb-20">
          <a href="">
            <img class="img-fluid" src="images/myclass.png" width="60px" height="60px">
          </a>
        </div>
        <div class="row">
          <div class="col-md-2 col-sm-6">
            <p class="font-w600 mb-10 font-size-h5">Thông tin MYCLASS</p>
            <ul class="list-unstyled mb-30">
              <li><a href="about.htm" tppabs="https://www.howkteam.vn/about">Về MYCLASS</a></li>
              <li><a href="about.htm" tppabs="https://www.howkteam.vn/about">Dịch vụ</a></li>
              <li><a href="contact.htm" tppabs="https://www.howkteam.vn/about/contact">Liên hệ</a></li>
            </ul>
            <p class="font-w600 mb-10 font-size-h5">Đóng góp từ cộng đồng</p>
            <ul class="list-unstyled">
              <li><a href="donate.htm" tppabs="https://www.howkteam.vn/donate">Tài trợ</a></li>
              <li><a href="supporters.htm" tppabs="https://www.howkteam.vn/about/supporters">Người ủng hộ</a></li>
            </ul>

          </div>
          
          <div class="col-md-2 col-sm-6">
            <p class="font-w600 mb-10 font-size-h5">Cộng đồng</p>
            <ul class="list-unstyled mb-30">
              <li><a href="javascript:if(confirm(%27https://www.howkteam.vn/questions  \n\nThis file was not retrieved by Teleport Ultra, because the server reports that this file cannot be found.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.howkteam.vn/questions%27" tppabs="https://www.howkteam.vn/questions">Hỏi đáp</a></li>
              <li><a href="#">Tài liệu</a></li>
              <li><a href="#">Chiến dịch</a></li>
            </ul>

            <p class="font-w600 mb-10 font-size-h5">Liên kết</p>
            <ul class="list-unstyled">
              <li><a target="_blank" href="javascript:if(confirm(%27https://www.vted.vn/  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.vted.vn/%27" tppabs="https://www.vted.vn/">Vted - Học toán online chất lượng cao</a></li>
              <li><a target="_blank" href="javascript:if(confirm(%27http://laptrinhvb.net/  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://laptrinhvb.net/%27" tppabs="http://laptrinhvb.net/">Lập trình VB.NET</a></li>
              <li><a target="_blank" href="javascript:if(confirm(%27https://linuxteamvietnam.us/  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://linuxteamvietnam.us/%27" tppabs="https://linuxteamvietnam.us/">Linux Team Việt Nam</a></li>

            </ul>
          </div>
          <div class="col-md-3 col-sm-12">
            <p class="font-w600 mb-10 font-size-h5">Kết nối với MYCLASS</p>
            <p class="mb-5">Kết nối với MYCLASS qua mạng xã hội</p>
            <div class="icon-format mb-30">
              <a href="javascript:if(confirm(%27https://www.facebook.com/howkteam/  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.facebook.com/howkteam/%27" tppabs="https://www.facebook.com/howkteam/" class="mr-5"><i class="fab fa-facebook-square fa-2x"></i></a>
              <a href="javascript:if(confirm(%27https://www.youtube.com/kteam  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27https://www.youtube.com/kteam%27" tppabs="https://www.youtube.com/kteam"><i class="fab fa-youtube-square fa-2x"></i></a>
            </div>
            <p class="font-w600 mb-10 font-size-h5 mt-20">Chứng nhận</p>
            <a href="javascript:if(confirm(%27http://www.dmca.com/Protection/Status.aspx?ID=69d56ff4-063f-4275-811c-3338b7e3d82e  \n\nThis file was not retrieved by Teleport Ultra, because it is addressed on a domain or path outside the boundaries set for its Starting Address.  \n\nDo you want to open it from the server?%27))window.location=%27http://www.dmca.com/Protection/Status.aspx?ID=69d56ff4-063f-4275-811c-3338b7e3d82e%27" tppabs="http://www.dmca.com/Protection/Status.aspx?ID=69d56ff4-063f-4275-811c-3338b7e3d82e" title="DMCA.com Protection Status" class="dmca-badge">
              <img src="images/dmca-badge-w150-5x1-01.png-ID=69d56ff4-063f-4275-811c-3338b7e3d82e.png" tppabs="https://images.dmca.com/Badges/dmca-badge-w150-5x1-01.png?ID=69d56ff4-063f-4275-811c-3338b7e3d82e">
            </a>
            <script src="/js/layout/DMCABadgeHelper.min.js"></script>
          </div>
        </div>

        <hr>
        <div class="mb-10">
          <span>MYCLASS &copy; 2021</span>

        </div>
      </div>
    </div>

    <a href="#" onclick="Kteam.scrollToPosition(0); return false;" class="btn-scrollTop btn-sticky-right bg-white"><i class="fas fa-arrow-up"></i></a>
  </footer>
  <!-- END Footer -->
</div>