<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>MYCLASS || Active Account </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel="stylesheet" href='/css/bootstrap/bootstrap.css'></link>
</head>
<body>
    <div class="container">
        <div class="card text-center" style="width: 1000px; margin-top: 100px">
            <div class="card-header">
                Thông báo
            </div>
            <div class="card-body">
              <h5 class="card-title">Kích hoạt tài khoản MYCLASS.</h5>
              <p class="card-text">Bạn đã đăng ký thành công tài khoàn <b>MYCLASS</b>. Vui lòng kích hoạt tài khoản bằng cách
                nhấn vào link đã được gửi qua Email</p>
              <a href="/login" class="btn btn-primary">Đăng nhập</a>
            </div>
          </div>
    </div>
</body>
</html>